RewriteEngine On

# Redirigir todo a la carpeta public
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1 [L]

# Si acceden a la raíz, ir a public/index.php
RewriteRule ^$ /public/index.php [L]